#A{
  background-color: lightblue;
}

#B{
background-color: lightcoral;
}

#C{
background-color: lightcyan;
}

#D{
  background-color: lightskyblue;
}

#E{
background-color: lightgreen;
}

#F{
  background-color: lightpink;
}

#G{
  background-color: lightseagreen;
}

#H{
  background-color: lightslategray;
}

#I{
  background-color: lightyellow;
}
/* desktop view */
@media only screen and (min-width:768px){
  #A{
    background-color: blue;
  }
  
  #B{
  background-color: coral;
  }
  
  #C{
  background-color: cyan;
  }

  #D{
    background-color:skyblue;
  }
  
  #E{
  background-color:green;
  }
  
  #F{
    background-color: pink;
  }
  
  #G{
    background-color: seagreen;
  }
  
  #H{
    background-color: slategray;
  }
  
  #I{
    background-color: yellow;
  }
}

/* tablet view */
@media only screen and (min-width:600px) and (max-width: 767px){
  #A{
    background-color: pink;
  }
  
  #B{
  background-color: lightsalmon;
  }
  
  #C{
  background-color: magenta;
  }

  #D{
    background-color:yellow;
  }
  
  #E{
  background-color:darkturquoise;
  }
  
  #F{
    background-color: darkred;
  }
  
  #G{
    background-color: darkgray;
  }
  
  #H{
    background-color: darkseagreen;
  }
  
  #I{
    background-color: darkslategrey;
  }
}